# MacOS ------------------------------------------------------------------------

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows ----------------------------------------------------------------------

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Michellaneous output (like java's .class) across all the repo ----------------

# Jupyter Notebook
.ipynb_checkpoints

# ASP
src/asp/output
src/tools/timetable_maker/output

# CLIPS
/src/clips/expert/*.txt

# CLIPS BattleMap Generator
src/clips/java/*.class

# TOOLS
src/tools/labyrinths/.idea/*
src/tools/labyrinths/output/*
src/tools/clips_parser/experiments/*
src/tools/bn_generator/Run/*.xml

# INTELLIJ files for Uncertanty
src/uncertainty/.idea
src/uncertainty/target
src/uncertainty/*.iml

#R
.Rhistory

# JARs ----------------------------------------------------------------------
src/uncertainty/out/static/*.txt
src/uncertainty/out/dynamic/*.txt

# VSCode --------------------------------------------------------------------
src/uncertainty/.classpath
src/uncertainty/.project
.settings
.vscode
